* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

.dark{
  background: #15202b;
  color: white;
}

.container {
  display: flex;
  align-items: flex-start; /* Align items to the start */
}

.right {
  position: fixed;
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  padding-inline-start: 80px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding-block: 20px;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.email {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.right .topp div {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.topp div a{
  text-decoration: none;
  color: black;
}

.right .topp div:hover {
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn {
  width: 230px;
  height: 55px;
  background: #1da1f2;
  border-radius: 27.5px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.btn:hover {
  background: inherit;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  cursor: pointer;
}

.right .topp {
  display: flex;
  align-items: start;
  /* justify-content: center; */
  flex-direction: column;
  gap: 50px;
}

.ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-weight: 600;
  font-size: 18px;
}

.footerr i:hover{
     color: #1da1f2;
  cursor: pointer;
  text-shadow: 0px 4px 10px rgba(29, 161, 242, 0.5);
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerr .user-info {
  gap: 2px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.left {
  margin-left: 25%; /* Ensure the left section starts after the fixed right section */
  width: 75%;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav h1 {
  font-size: 24px;
  font-weight: 700;
}

.nav i {
  font-size: 24px;
}

.nav i:hover {
  color: #1da1f2;
  cursor: pointer;
  text-shadow: 0px 4px 10px rgba(29, 161, 242, 0.5);
}


.icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxx{
  padding: 10px 30px 21px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.box-top{
  display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

.box-top > div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-1{
  font-weight: 700;
  font-size: 20px;
}

.email-1{
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.user-info-1{
  font-weight: 400;
  font-size: 18px;
}

.box-bottom{
  display: flex;
  align-items: center;
  gap: 40px;
}

.box-bottom i{
  font-size: 20px;
  cursor: pointer;
}

.imageOta{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image{
  width: 679px;
height: 453px;
border-radius: 20px;

}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myModal{
display: none;
}

/* Modal Content/Box */
#modalbir {
  background-color: rgba(245, 245, 245, 0.9); /* Qoraroq shaffof fon */
  backdrop-filter: blur(50px); /* Xiralik effekti */
  margin-block: 8%; 
  margin-inline-start: 29%;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4); /* Yorug'roq chegara */
  width: 67%; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white; /* Matn oq rangda ko'rinishi uchun */
}



.modal-content > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#btn-input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 38px;
  background: rgba(29, 161, 242, 0.4);
  border-radius: 120px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  color: rgb(225, 221, 221);
}

.tweet:hover{
  background: #1da1f2;
  color: white;
  cursor: pointer;
}

.img-input{
  display: none;
}

#im-file i{
  margin-left: 10px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-top{
  width: 100%;
}

.what{
  font-weight: 600;
  font-size: 20px;
  color: grey;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background: inherit;
}

#im-file i:hover{
  color: #1da1f2;
  cursor: pointer;
  text-shadow: 0px 4px 10px rgba(29, 161, 242, 0.5);
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.musli{
    width: 120px;
    height: 120px;
}

.nav > div{
    display: flex;  
    align-items: center;
    gap: 20px;
}

.nav > div h3{
    font-weight: 700;
    font-size: 20px;
}

.nav > div p{
    font-weight: 400;
    font-size: 16px;
    color: grey;
}

